@import '../../App';



.free-rooms-wrapper {
    position: sticky;
    top: 10px;
}

.btnCancel {
    &-cancel {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        cursor: pointer;
    }

    &-cancel:active,
    &-cancel:hover {
        color: #fa0a04;
        transition: ease-in-out .5s;
    }
}

.freeRoomCard {
    min-width: 200px;
    margin-right: 30px;
}

.free-rooms__panel {
    top: 1rem;
}
.freeRoomForms {
    text-align: center;
}

