@import '../../App';

.teacher-without-wishes {
    font-size: 22px;
    padding: 10px;
    margin: 10px;
}

.wish-modal {
    position: sticky;
    top: 10px;

    @media (max-width: 850px) { 
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}

.day-week-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    min-width: 135px;
}

.modal-teacher-title {
    max-width: 100%;
    text-align: center;
    margin: 6px;
}

.wish-card {
    min-width: 265px;
    max-width: 830px;
    padding: 0 0 10px;
    .wish-title-day {
        margin: 4px 0;
    }
    .wish-title-week {
        margin: 0 0 5px 0;
    }

    .class-status-block {
        display: flex;
        align-items: flex-start;
        padding: 2px;
        ._GOOD {
            margin-left: 15px;
            color: $good-color;
            text-transform: capitalize;
        }
        ._BAD {
            margin-left: 15px;
            color: $delete-color;
            text-transform: capitalize;
        }
        ._OK {
            margin-left: 15px;
            text-transform: capitalize;
        }
    }

    @media (max-width: 850px) { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

.save-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wish-form {
    display: flex;
    flex-direction: column;
    .wish-margin-top {
        margin-top: 8px;
    }
}
