@import '../../App';

.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10em;

    .auth-link {
        display: inline-block;
        color: $background-color;
        margin: 10px auto;
        border: none;
        background-color: inherit;
        cursor: pointer;
    }
    .auth-link:hover {
        color: $background-color-dark;
    }

    .buttons-style {
        margin-top: 10px;
        width: 40%;

        @media (max-width: 500px) { 
            margin-top: 20px;
            width: 30%;
    }
    
    }
}
