.teacher-card {
    min-height: 240px;
    position: relative;
    margin: 10px;

    .teacher-card-name {
        margin: 8px 0;
        font-size: 1.3rem;

        	
	@media (max-width: 400px) { 
		font-size: 1.1rem;
	}
    }

    .teacher-subtitle {
        font-size: 0.8em;
        margin: 5px 0;
    }

    .teacher-card-wishes {
        border-top: 1px solid;
    }
    .teacher-wish-block {
        position: absolute;
        bottom: 17px;
        width: 239px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 400px) { 
            width: 95%;
        }
    }
}

.wish-button {
    width: 100%;
}

.form-with-search-panel {
    width: 23.4em;
    position: sticky;
    top: 1em;

    @media (max-width: 850px) { 
        position: relative;
        margin-bottom: 20px;
        max-width: 90%;
    }

    @media (max-width: 500px) { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
