@import '../../App';

p.empty_schedule {
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
}
h1 {
    text-align: center;
}
.form-buttons-container {
    @media (max-width: 800px) { 
        display: flex;
        flex-direction: column;
}
    p {
        display: block;
        width: 100%;
    }

    .schedule-selector-part {
        width: auto;
        justify-content: center;

        .MuiAutocomplete-root {
            float: left;
            .MuiFormControl-fullWidth {
                width: 250px;
            }
        }

        .MuiButtonBase-root.MuiButton-containedPrimary {
            margin-top: 35px;
        }
    }
}
