@import '../../App';
@import '../../share/Card/Card.scss';

.room-form {
    margin: 10px;
}

.new-type-container {
    text-align: center;
}

.btn-style-wrapper {
    margin: 20px 0;
}

.btn-style {
    width: 96%;
}

.new-types {
    padding: 0;
    vertical-align: middle;
}

.new-types-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.typeDescription {
    vertical-align: middle;
}

.buttons {
    .btn {
        margin: 7px;
        font-size: 22px;
    }

    .edit {
        cursor: pointer;
    }

    .edit:active,
    .edit:hover {
        color: #3f51b5;
        transition: ease-in-out .5s;
    }

    .delete {
        cursor: pointer;
    }

    .delete:active,
    .delete:hover {
        color: #fa0a04;
        transition: ease-in-out .5s;
    }
}
