@import '../../App';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    min-height: 25px;

    .navLinks {
        cursor: pointer;
        text-decoration: none;
        border-radius: 5px;
        font-size: 22px;
        line-height: 26px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        color: $main-color;
        padding: 10px;
        background: $background-color;

        margin-right: 10px;
        cursor: pointer;

        &.nav-semester {
            background-color: $main-color;
            border: 1px solid $background-color;
            color: $background-color;
            &:hover {
                background-color: $background-color;
                color: $main-color;
                &::selection{
                    background-color: $delete-color;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $background-color-dark;
        }
    }
}

.header-blocks {
    &_one {
        order: 1;
    }
    &_two {
        order: 3;
    }
    &_three {
        order: 2;
        @media (max-width: 800px) {
                    order: 100; 
         }
    }
}

.menu {
    display: none;
    .navLinks {
        text-decoration: none;
    }
}

@media (max-width: 800px) {

    .menu {
        display: block;
    }

    .header-blocks {
        &_one {
            display: none;
        }
        &_two {
            display: none;
        }
        &_three {
            order: 1000;
            
        }
    }
}

.menu-semester {
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: $delete-color;
}


