@import '../../App';

.buttons-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 15px 0;

	.dialog-button {
		width: 38%;
	}
}

.delete-word {
	color: $delete-color;
}

.availability-info {
	text-align: center;
	font-weight: bolder;
}

.circular-progress-dialog {
	width: 100px;
	text-align: center;
}
