@import '../../App';
@import '../../share/Card/Card.scss';


.MuiFormControl-root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.freeRoomsItems {
    min-width: 200px;
    max-width: 210px;
}

label + .MuiInput-formControl {
    padding-right: 24px;
}

.freeRoomsItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.freeRoomsButtons {
    margin-top: 10px;
    .buttons-style {
        font-size: 12px;
    }
}


