.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    margin-top: 1em;
}
.lesson-page-title {
    display: flex;
    justify-content: center;

    @media (max-width: 500px) { 
        flex-direction: column;
    }

    .lesson-page-h {
        
        @media (max-width: 850px) { 
            font-size: 1.1rem;
            line-height: 80px;
            margin-right: 20px;
        }

        @media (max-width: 500px) { 
            line-height: 20px;
        }

        line-height: 50px;
        margin-right: 10px;
    }
}

.lesson-card {
    @media (max-width: 850px) { 
       box-sizing: border-box;
    }
}
